<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="racecar_walker" />

    <!-- Load map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find racecar_gazebo)/map/$(arg world_name).yaml" />

    <!-- move base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find racecar_gazebo)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find racecar_gazebo)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find racecar_gazebo)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find racecar_gazebo)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find racecar_gazebo)/config/teb_local_planner_params.yaml" command="load" />
        <rosparam file="$(find racecar_gazebo)/config/mpc_local_planner_params.yaml" command="load" />
        <rosparam file="$(find racecar_gazebo)/config/pid_local_planner_params.yaml" command="load" />

        <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> -->
        <param name="base_global_planner" value="custom_path_global_planner/CustomPathGlobalPlannerROS" />
        <param name="planner_frequency" value="10.0" />
        <param name="planner_patience" value="5.0" />
        <!-- <param name="use_dijkstra" value="false" /> -->

        <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
        <!-- <param name="base_local_planner" value="mpc_local_planner/MpcLocalPlannerROS" /> -->
        <param name="base_local_planner" value="pid_local_planner/PidLocalPlannerROS" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="15.0" />

        <param name="clearing_rotation_allowed" value="false" />
    </node>

    <!-- twist to ackermann -->
    <node pkg="racecar_gazebo" type="ackermann_cmd.py" name="ackermann_cmd" output="screen" />
</launch>